.login-form {
  display: flex;
  justify-content: center;
}
.login-inputs {
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.logo-name {
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
  margin-bottom: 20px;
}
.login-header {
  display: flex;
  justify-content: flex-end;
}
.register-link {
  color: white;
  margin-right: 15px;
}
.login-link {
  color: white;
  margin-right: 15px;
}
.register-link:hover,
.login-link:hover {
  color: black;
}
