.list-render {
  list-style: none;
}
.list-items {
  color: white;
  margin: 30px;
}
.master-list {
  display: flex;
  justify-content: center;
}
.master-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  margin: 5px;
}
.delete-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.polar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.intro-print {
  text-align: center;
}
.label-print {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.polar-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
