.list-render {
  list-style: none;
}
.list-items {
  color: white;
  margin: 30px;
}
.master-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  margin: 5px;
}
.delete-button {
  width: 50px;
  height: 50px;
}
.polar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
