.list-render {
  list-style: none;
}
.list-items {
  color: white;
  margin: 30px;
}
.master-list {
  display: flex;
  justify-content: center;
}
.master-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  margin: 5px;
  background-color: #000000;
  padding: 0px 20px;
  font-size: 17px;
}
.delete-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.polar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.intro-print {
  text-align: center;
}
.label-print {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.polar-add {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
::placeholder {
  color: white;
}
.button:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.button:active {
  position: relative;
  top: 1px;
}
.print-box {
  padding: 15px;
  font-size: 17px;
  border-width: 5px;
  border-color: #000000;
  background-color: black;
  color: #f5f5f5;
  border-style: hidden;
  border-radius: 2px;
  box-shadow: 0px 0px 12px rgba(66, 66, 66, 0.52);
}
.label-print {
  font-size: 25px;
  color: black;
  font-weight: 600;
}
