.contact-text {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-top: 240px;
  width: 90%;
}
.contact-container {
  display: flex;
  margin-top: 80px;
  justify-content: space-evenly;
  text-decoration: none;
}
a {
  color: black;
}

@media (max-width: 780px) {
}

@media (max-width: 600px) {
}
