.intro-text {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pic-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.intro-pic {
  max-width: 200px;
}

@media (max-width: 780px) {
  .intro-pic {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro-text {
    font-size: 25px;
  }
  .intro-pic {
    max-height: 250px;
  }
}

@media (max-width: 600px) {
  .intro-text {
    font-size: 18px;
  }
  .intro-pic {
    max-height: 200px;
  }
}
